@model B2B.Areas.Supermarket.ViewModel.EditProfileVM
@{
    Layout = "~/Areas/Supermarket/Views/Shared/_SupermarketLayout.cshtml";
}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="card">
            <form method="post" action="@Url.Action("EditProfile","Supervisor",new { area="Supermarket"})" class="card-body">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.withError)
                    {
                        <span class="messages"><p class="text-danger error">@ViewBag.errorResponse</p></span>
                    }
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label><span style="color:orangered">*</span>Password:</label>
                                <input type="password" name="Password" class="form-control" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color:orangered">*</span>Confirm Password:</label>
                                <input type="password" name="ConfirmPassword" class="form-control" required />
                            </div>
                            <div class="col-md-12">
                                <label class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(model => model.EnableOrderAuth, new { @class = "custom-control-input" })
                                    <span class="custom-control-label">Enable Order Authentication</span>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <label class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(model => model.NotificationEnabled, new { @class = "custom-control-input" })
                                    <span class="custom-control-label">Enable Notification</span>
                                </label>
                            </div>
                        </div>
                    <div class="row">
                        
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <input style="margin-right: 8px;" value="Change Password" type="submit" class="btn btn-primary waves-effect waves-light add">
                            <a href="@Url.Action("Add","Orders",new { area="Supermarket"})" class="btn btn-outline-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Page_Title").html("Add new <small> branch to manage supervisor</small>");
    })
</script>